@using NguyenHoangLaptop.Models;
@using CaptchaMvc.HtmlHelpers;
@using CaptchaMvc;
@model ThanhVien
@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Layout/_ProductLayout.cshtml";
}

    <div class=" register">
        <h1>Đăng Ký</h1>
        @using (Html.BeginForm())
        {
            <div class="col-md-6 register-top-grid">
                <h3>Thông Tin Tài Khoản</h3>
                <div>
                    <span>Tài Khoản</span>
                    @Html.TextBoxFor(model=>model.TaiKhoan)
                </div>
                <div>
                    <span>Họ Tên</span>
                    @Html.TextBoxFor(model=>model.HoTen)
                </div>
                <div>
                    <span>Địa Chỉ</span>
                    @Html.TextBoxFor(model=>model.DiaChi)
                </div>
                <div>
                    <span>Email</span>
                    @Html.TextBoxFor(model=>model.Email)
                </div>
                <div>
                    <span>Số Điện Thoại</span>
                    @Html.TextBoxFor(model=>model.SoDienThoai)
                </div>
            </div>
            <div class="col-md-6 register-bottom-grid">
                <h3>Thông Tin Đăng Nhập</h3>
                <div>
                    <span>Mật khẩu</span>
                    @Html.PasswordFor(model=>model.MatKhau)
                </div>
                <div>
                    <span>Nhập lại mật khẩu</span>
                    @Html.PasswordFor(model => model.MatKhau)
                </div>
                <div>
                    <span>Câu hỏi bí mật</span>
                    @Html.DropDownList("CauHoi")
                </div>
                <div>
                    <span>Câu trả lời</span>
                    @Html.TextBoxFor(model=>model.CauTraLoi)
                </div>
                <div>
                    @Html.Captcha(10)
                </div>
                <input type="submit" value="Đăng Ký">
            </div>
            <div class="clearfix"> </div>
        }
    </div>

<h1 style="color:red;">@ViewBag.ThongBao</h1>
