@using NguyenHoangLaptop.Models;

@model itemGioHang
@{
    ViewBag.Title = "SuaGioHang";
    Layout = "~/Views/Layout/_HomeLayout.cshtml";
}

@{
    List<itemGioHang> lstGioHang = ViewBag.GioHang as List<itemGioHang>;
}

<table>
    <tr>
        <td>Mã Sản Phẩm</td>
        <td>Tên Sản Phẩm</td>
        <td>Hình Ảnh</td>
        <td>Số Lượng</td>
        <td>Đơn Giá</td>
        <td>Thành Tiền</td>
    </tr>
    @foreach (var item in lstGioHang)
    {
        //sản phẩm có ma sp được chỉnh sửa từ tham số bên trang xem giỏ hàng
        if (Model.MaSP == item.MaSP)
        {
            using (Html.BeginForm("CapNhatGioHang","GioHang"))
            {
                <tr>
                    <td>@item.MaSP @Html.Hidden("MaSP",item.MaSP)</td>
                    <td>@item.TenSP</td>
                    <td><img src="@Url.Content("~/Content/trangweb/images/"+item.HinhAnh)" width="50" height="50" /></td>
                    <td>
                        @Html.TextBox("SoLuong", item.SoLuong,new {@class="SoLuongThayDoi" })
                        <p id="TB_SoLuongThayDoi"></p>
                    </td>
                    <td>@item.DonGia.ToString("#,##") VNĐ</td>
                    <td>@item.ThanhTien.ToString("#,##") VNĐ</td>
                    <td><input type="submit" value="Cập Nhật" id="btnCapNhatGH"/></td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>@item.MaSP</td>
                <td>@item.TenSP</td>
                <td><img src="@Url.Content("~/Content/trangweb/images/"+item.HinhAnh)" width="50" height="50" /></td>
                <td>@item.SoLuong</td>
                <td>@item.DonGia.ToString("#,##") VNĐ</td>
                <td>@item.ThanhTien.ToString("#,##") VNĐ</td>
                <td>@Html.ActionLink("Sửa", "SuaGioHang", new { @MaSP = item.MaSP },new {@class= "btn btn-primary" })</td>
                <td>@Html.ActionLink("Xóa", "XoaGioHang", new { @MaSP = item.MaSP },new {@class= "btn btn-primary" })</td>
            </tr>
        }
    }
</table>

<script>
    $("#btnCapNhatGH").click(function () {
        var SoLuong = $(".SoLuongThayDoi").val();
        //kiểm tra số lượng ko phải chữ
        if (isNaN(SoLuong) == true || SoLuong < 0) {
            alert(SoLuong);
            $("TB_SoLuongThayDoi").text("Số lượng không hợp lệ");
            return false;
        }
    });
</script>